.container {
  height: 100vh;
  width: 100%;
  display: flex;
  border: 1px solid black;
}

.left-cell,
.right-cell {
  width: 50%;
  padding: 5% 0;
  font-size: 2vw;
  display: flex;
  align-items: center;
}
.left-cell {
  background-color: aquamarine;
}
.right-cell {
  background-color: coral;
}
